label {
    margin: 10px;
}

.mainform {
    margin: 10px;
}

table {width:620px;
    margin: 10px;
    text-align: center;
       
   }


.tablebody {
    position: relative;
    left: 400px;
    bottom: 350px;
}





  
