.online {
    width: 400px;
    position: relative;
    left:550px;
    bottom: 350px;
}

.image{
    
    height: 400px;
    width: 550px;
    opacity: 20px;

}

.mainbody { 
    
    height: 600px;
}

.online {
    width: 450px;
    height: 400px;
    position: relative;
    bottom: 400px;
    
}

